 @media (max-width: 500px) {

nav a {
  display: flex;
  justify-content: space-evenly;
  font-size: 90%;
}

nav span{
  border-left:1px solid #626262;
}

.title-container h1 {
  font-size: 160%
}

.title-container button {
  font-size: 80%
}

.artist-container .artist{
    display: flex;
    flex-wrap: nowrap;
}

.artist{
  width:100%;
  text-align:center;
}

.artist img{
  width:100%;
}




@media (min-width: 501px) {
          
}